<section id="viewhotelDetails">
    <h2>Details</h2>
    <div class="hotel-ticket">
        <div class="hotel-left">
            <img src="{{imageUrl}}" alt="">
        </div>
        <div class="hotel-right">
            <div>
                <h3>{{hotel}}</h3>
            </div>
            <div>
                {{city}}
            </div>
            <p><span>Free rooms: {{freeRooms}}</span> </p>
            <p><span class="green">You already have booked a room</span> </p>

            <a href="/hotels/book/{{username}}/{{_id}}" class="book">Book</a>
            <a href="/hotels/edit/{{_id}}" class="edit">Edit</a>
            <a href="/hotels/delete/{{_id}}" class="remove">Delete</a>
        </div>

    </div>
</section>